body {
    font-family:$font-primary;
    font-weight:300;
    background: $gray-dark;
    margin:0;
    font-size: 16px;
    width: 100vw;
}

.resurgent-app {
		padding-top:$headheight;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom:$headheight;
}

.main:not(.section-areas) {
	padding:0 15px;
}

.main {

	max-width: $max-width;
	margin-left: auto;
	margin-right:auto;

	header {
		text-align: center;
		clear: both;
	}

	hr {
	    border:none;
	    border-top:1px solid $gray-mid;
	    margin:$vru*8 0;
	}
	
}

.page {
	background: $gray-lt2;

	.main {

		max-width: $max-width;
		margin-left: auto;
		margin-right:auto;

		h1{
			text-align: center;
			border-bottom: 1px solid gray;
			padding: 12px 0 32px;
		}

		ol, ul {
			margin: 8px 0 20px;
    	padding: 0 0 0 15px;
		}

		li {
			margin-bottom:4px;
		}


	}
}
.spinner-wrap {
	height:100vh;
	width:100%;
	position: fixed;
	top:0;
	bottom:0;
	background:$gray-lt;
	display: flex;
	align-items: center;
	justify-content: space-around;

	p {
		overflow:hidden;
		width:100px;
		height:100px;
		text-indent: -999em;

	}
	.spinner {
	  width: 15vw;
	  height: 15vw;

	  position: relative;
	  margin: 100px auto;
    top: -9vh;
	}

	.double-bounce1, .double-bounce2 {
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  background-color: $magenta;
	  opacity: 0.5;
	  position: absolute;
	  top: 0;
	  left: 0;
	  
	  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	  animation: sk-bounce 2.0s infinite ease-in-out;
	}

	.double-bounce2 {
	  -webkit-animation-delay: -1.0s;
	  animation-delay: -1.0s;
	}

	@-webkit-keyframes sk-bounce {
	  0%, 100% { -webkit-transform: scale(0.0) }
	  50% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bounce {
	  0%, 100% { 
	    transform: scale(0.0);
	    -webkit-transform: scale(0.0);
	  } 50% { 
	    transform: scale(1.0);
	    -webkit-transform: scale(1.0);
	  }
	}

}