body {
    font-family:$font-primary;
    font-weight:300;
    background: $gray-dark;
    margin:0;
    font-size: 16px;
    width: 100vw;
}

.resurgent-app {
		padding-top:$headheight;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom:$headheight;
}

.main:not(.section-areas) {
	padding:0 15px;
}

.main {

	max-width: $max-width;
	margin-left: auto;
	margin-right:auto;

	header {
		text-align: center;
		clear: both;
	}

	hr {
	    border:none;
	    border-top:1px solid $gray-mid;
	    margin:$vru*8 0;
	}
	
}

.page {
	background: $gray-lt2;

	.main {

		max-width: $max-width;
		margin-left: auto;
		margin-right:auto;

		h1{
			text-align: center;
			border-bottom: 1px solid gray;
			padding: 12px 0 32px;
		}

		ol, ul {
			margin: 8px 0 20px;
    	padding: 0 0 0 15px;
		}

		li {
			margin-bottom:4px;
		}


	}
}