body {
    font-family:$font-primary;
    font-weight:300;
    background: $gray-dark;
    margin:0;
    font-size: 16px;
}

.resurgent-app {
		padding-top:$headheight;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom:$headheight;
}

.main:not(.section-areas) {
	padding:0 15px;
}

.main {
	header {
		text-align: center;
		clear: both;
	}

	hr {
	    border:none;
	    border-top:1px solid $gray-mid;
	    margin:$vru*8 0;
	}
	
}