p {
    margin:0 0 $vru*2;
    padding:0;
}

strong {
	font-weight:700;
}

.btn {
	@include labelfont(bold);
	color:white;
	font-size:14px;
	padding:$vru*2 1em;
	background: $magenta;
	border-radius: $vru*2;
	@include dropshadow;
	letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: none;

  &:active, &:hover{
  	background:$blue;
  }
}