p {
    margin:0 0 $vru*2;
    padding:0;
}

strong {
	font-weight:600;
}
.subtitle {
	margin:$vru 0;
	padding:0;
}
h1, h2, h3, h4, h5, input, button {
  @include smoothfont;
}

.page-title {
	font-weight: 600;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  margin: 12px auto 32px;
}

.subtitle + .page-title {
    margin-top: 0;
}

.btn {
	@include labelfont(bold);
	color:white;
	font-size:14px;
	padding:$vru*2 1em;
	background: $magenta;
	border-radius: $vru*2;
	@include dropshadow;
	letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: none;

  &:active, &:hover{
  	background:$blue;
  }
}