$magenta:     #df4678;
$red:  				#da2c1d;
$blue:        #3a77b2;
$purple:      #7d5297;
$mint:        #a3ceb7;
$gray-lt:     #dddddd;
$gray-lt2:     #eeeeee;
$gray-mid:		#bebebe;
$gray-mid2:   #57585A;
$gray-dark:   #262626;
$gray-dark2:   #444;

$font-primary: Lato, Helvetica, Arial, sans-serif;
$font-label: Montserrat, Helvetica, Arial, sans-serif;

$spacer: 32px;
$vru: 4px; // vertical rhythm unit
$nonsense: 0;

$headheight: 80px;
$footheight: 50px;



@mixin labelfont($weight) {

	@if $weight == "thin" {
  	font-weight: 200;
	} @else {
  	font-weight: 600;
	}
	font-family:$font-label;
	letter-spacing: 1px;
	text-transform: uppercase;

  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin smoothfont {
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin dropshadow {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

