.area-title {
    @include labelfont(bold);
    font-size: 16px;
    line-height: 16px;
    margin:$vru*3 auto $vru*1;
    text-align: center;
    max-width:600px;
    color:$magenta;
}
.area-description{
    color:white;
    text-align: left;
    max-width:600px;
    margin:0 auto $vru*4;
    font-size: 12px;
    line-height: 16px;
    padding:0 15px;
}
.providers {
    margin-bottom:$footheight+(3*$vru);


    .flickity-prev-next-button {
        top: 180px;
        width: 54px;
        height: 54px;

        &:before {
            height: 40px;
            width: 40px;
        }
        &.previous {
            left:4px;
        }
        &.next {
            right:4px;
        }
    }

}

.provider {
    background: $gray-mid;
    width:96vw;
    max-width:320px;
    margin-right:4vw;
    text-align: center;
    border-radius: $vru*2;
    padding:$vru*4 30px $vru*6;
    box-sizing: border-box;
    transform-style: preserve-3d;
    @include transition(transform .75s ease);

    &.flipped {

        transform: rotateY(180deg);

        .front {
            /*-webkit-backface-visibility: hidden; */
            /*backface-visibility: hidden; */
        }

        .back {

        }
    }

    > div {
        /*background: $gray-mid;*/
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden; 
    }

    .front {
        .bio, .video-link, .token-cost span, .bio-handle {

            transform: translate3d(0,0,0); 
            /* fixes chrome bug for dissapearing positioned/backface elements during flickety animation */
        }
    }

    .back {
        background: $gray-mid;
        transform: rotateY(180deg);
        position:absolute;
        top:0;
        left: 0;
        bottom:0;
        right:0;
        border-radius: $vru*2;

       /* -webkit-backface-visibility: hidden; 
        backface-visibility: hidden; */

        .back-inner {
            overflow-y: auto;
            position:absolute;
            top:0;
            left: 0;
            bottom:0;
            right:0;
            padding: $vru*4 30px $vru*6;
            box-sizing: border-box;
        }

    }

    a {
        text-decoration:none;
    }

    .token-cost {
        position: absolute;
        right:15px;
        top:$vru*3;

        text-align: center;
        font-size: 14px;
        font-weight:700;
        color:$gray-dark2;

        span {
            @include labelfont(bold);
            font-size: 9px;
        }

    }

    .profile-img {
        width:120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin:0 auto $vru*2;

        @include dropshadow;

        img {
            width: 100%;
            height: auto;
        }
    }

    .video-link {
        position: absolute;
        top: 90px;
        right:calc( 50% - 72px );
        height:40px;
        width: 40px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.25);

        @include dropshadow;

        &:after{
            width: 0;
            height: 0;
            content: '';
            display: block;
            border-left: 12px solid $magenta;
            border-bottom: 6px solid transparent;
            border-top: 6px solid transparent;
            margin: 0 auto;
            top: 34%;
            position: absolute;
            left: 39%;
        }
        &:before{
            background:$gray-dark;
            content: '';
            display: block;
            width: 70%;
            height: 50%;
            border-radius: 6px;
            position: absolute;
            top: 25%;
            left: 15%;
        }

    }

    h1 {
        color: $magenta;
        font-style: italic;
        font-size: 18px;
        line-height: 20px;
        margin:0 0 $vru*1; 
    }

    .front .bio {
        max-height:60px;
    }

    .bio {

        overflow: hidden;
        position: relative;
        text-align:left;

        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .bio-handle {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 12px;
        line-height: 32px;
        @include labelfont(bold);
        color:$gray-mid2;
        white-space: nowrap;

        &:before, &:after {
            position: relative;
            content: '';
            height: 1px;
            width: 3em;
            background: $gray-mid2;
            display: inline-block;
            top: -4px;
            margin:0 1em;
        }
    }

    .rating {
        margin-bottom: $vru*4;
        a {
            display: block;
        }
        h3 {
            font-size: 8px;
            line-height: 1;
            color:white;
            @include labelfont(bold);
            margin-bottom: 0;
        }
        .stars-static span {
            color:$magenta;
        }
    }
}


