.area-title {
    @include labelfont(bold);
    font-size: 16px;
    line-height: 16px;
    margin:$vru*3 auto $vru*1;
    text-align: center;
    max-width:600px;
    color:$magenta;

    @include phone {
        margin:$vru*3 auto $vru*3;
    }
}
.area-description{
    color:white;
    text-align: left;
    max-width:600px;
    margin:0 auto $vru*4;
    font-size: 12px;
    line-height: 16px;
    padding:0 15px;
}
.providers {
    margin-bottom:2*$vru;


    .flickity-prev-next-button {
        top: 180px;
        width: 54px;
        height: 54px;

        &:before {
            height: 40px;
            width: 40px;
        }
        &.previous {
            left:4px;
        }
        &.next {
            right:4px;
        }
    }

}

.provider {
    background: transparent;
    width:92vw;
    height:360px;
    max-width:320px;
    margin-right:8vw;
    text-align: center;
    border-radius: $vru*2;
    box-sizing: border-box;



    
    /*-webkit-backface-visibility: hidden; 
    backface-visibility: hidden; */

    &.flipped {
        /*-moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);*/

        .front {
            z-index: 8;
            -webkit-transform: translateX(-100%) rotateY(179deg);
            transform: translateX(-100%) rotateY(179deg);
        }

        .back {
            z-index: 9;
            -webkit-transform: translateX(0) rotateX(0) rotateY(0);
            transform: translateX(0) rotateX(0) rotateY(0);
        }
    }

    > div {
        background: $gray-mid;
        border-radius: $vru*2;
        padding: $vru*4 30px $vru*6;
        position:absolute;
        top:0;
        left: 0;
        box-sizing: border-box;

        width: 100%;
        height: inherit;

        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .front {

        z-index: 8;
        -webkit-transform: translateX(0) rotateX(0) rotateY(0);
        transform: translateX(0)  rotateX(0) rotateY(0);



        .bio, .video-link, .token-cost, .token-cost span, .bio-handle {
          /*  -moz-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0); */

        /*   -webkit-backface-visibility: hidden; 
            backface-visibility: hidden; 
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;*/
            /* fixes chrome bug for dissapearing positioned/backface elements during flickety animation */
        }
    }

    .back {
        z-index: 7;
        -webkit-transform: translateX(-50%) rotateY(-90deg);
        transform: translateX(-50%) rotateY(-90deg);

       /* -webkit-backface-visibility: hidden; 
        backface-visibility: hidden; */

        .bio {
            height: 220px;
            overflow-y: auto;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            margin: 16px 0;
            padding:16px 0 24px;
            box-sizing:border-box;
        }

        a {
            font-style: italic;
        }

    }

    a {
        text-decoration:none;
    }

    .token-cost {
        position: absolute;
        right:15px;
        top:$vru*3;

        text-align: center;
        font-size: 14px;
        font-weight:700;
        color:$gray-dark2;

        span {
            @include labelfont(bold);
            font-size: 9px;
        }

    }

    .profile-img {
        width:120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin:0 auto $vru*2;

        @include dropshadow;

        img {
            width: 100%;
            height: auto;
        }
    }

    .video-link {
        position: absolute;
        top: 90px;
        right:calc( 50% - 72px );
        height:40px;
        width: 40px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.25);

        @include dropshadow;

        &:after{
            width: 0;
            height: 0;
            content: '';
            display: block;
            border-left: 12px solid $magenta;
            border-bottom: 6px solid transparent;
            border-top: 6px solid transparent;
            margin: 0 auto;
            top: 34%;
            position: absolute;
            left: 39%;
        }
        &:before{
            background:$gray-dark;
            content: '';
            display: block;
            width: 70%;
            height: 50%;
            border-radius: 6px;
            position: absolute;
            top: 25%;
            left: 15%;
        }

    }

    h1 {
        color: $magenta;
        font-style: italic;
        font-size: 18px;
        line-height: 20px;
        margin:0 0 $vru*1; 
    }

    .front .bio {
        max-height:40px;
    }

    .bio {

        overflow: hidden;
        position: relative;
        text-align:left;

        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .bio-handle {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 12px;
        line-height: 32px;
        @include labelfont(bold);
        color:$gray-mid2;
        white-space: nowrap;

        &:before, &:after {
            position: relative;
            content: '';
            height: 1px;
            width: 3em;
            background: $gray-mid2;
            display: inline-block;
            top: -4px;
            margin:0 1em;
        }
    }

    .rating {
        margin-bottom: $vru*4;
        a {
            display: block;
        }
        h3 {
            font-size: 8px;
            line-height: 1;
            color:white;
            @include labelfont(bold);
            margin-bottom: 0;
        }

    }
}


