
.header-main {
    width:100%;
    top: 0;
    height:$headheight;
    position: fixed;
    z-index:10;
    display: flex;
    justify-content: space-between;
    background:white;
    align-items: center;
    padding:0 15px;
    box-sizing: border-box;
    border-bottom:1px solid $gray-lt;

    .modal & {
        background: $gray-lt2;
    }

    .logo {
        width: 66.67%;
        img {
            width: 100%;
            height:auto;
            display: block;
            max-width:265px; 
        }
    }

    .tcon-menu__lines {

        background: $magenta;
        border-radius:0;

        &::before, &::after {
            background: $magenta;
            border-radius:0;
        }

        &:hover{

            background: $red;

            &::before, &::after {
                background: $red;
            }

        }
    }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
        background: transparent;
    }
}

.main-menu {

    // !!! how to maintain accessibility for hidden menu?
    width: 100%;
    background-color: white;
    @include labelfont(bold);
    text-align: center;
    font-size:18px;
    line-height:19px;
    position: fixed;
    top:$headheight;
    left:0;
    z-index: 10;
    max-height: 0;
    overflow: auto;

    @include transition(max-height 500ms ease);

    -webkit-box-shadow: 0px 12px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 12px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 12px 12px 0px rgba(0,0,0,0.5);

    &.open {
        max-height: calc(100vh - #{$headheight});
    }


    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

    }

    li:not(:first-child) {
        border-top:1px solid $gray-lt;
    }

    button {
        text-decoration: none;
        color:$gray-dark;
        padding:$vru*4 .5em; 
        display: block;
        border:0;
        width: 100%;
        background: transparent;

        @include labelfont(bold);
        text-align: center;
        font-size:18px;
        line-height:19px;

        &:hover{
            color:$magenta;
        }
    }

}

.subheader {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding:0 15px;
    box-sizing: border-box;
    font-size: .75em;
    margin-top:2*$vru;
    
    .welcome {
        
        p {
            margin-bottom: $vru;
        }

        a {
            font-style: italic;
            color:white;
        }
    }

}