.modal {

  .tcon-remove {
    float: right;

    margin-right: 15px;
    margin-top: $vru*2;
    cursor: pointer;
  }

  h1.page-title {
    color:white;
    @include labelfont(bold);
    font-size: 20px;
    line-height: 28px;
    margin:$vru*3 auto $vru*1;
    text-align: center;
    max-width:600px;
    clear:both;
  }

  .form-intro{
    p {
        margin:0;
        font-style: italic;
        font-size:14px;
        color:white;
    }
  }

}