.modal {

  .tcon-remove {
    float: right;
    margin-top: $vru*2;
    cursor: pointer;
  }

  .main header {
    margin:8*$vru 0;
  }

  h1.page-title {
    color:white;
    text-align: center;
    max-width:600px;
  }

  .form-intro{

    margin-bottom: 4*$vru;

    p {
        margin:0;
        font-style: italic;
        font-size:14px;
        color:white;
            padding: 0 12px 2px;
    }
  }

  form {
    width: 100%;
    text-align: center;
    font-family:$font-primary;
    font-weight:400;

    input:not(.btn), textarea {
      width: 100%;
      margin-bottom:2*$vru;
      box-sizing:border-box;
      font-family:$font-primary;
      font-weight:400;
      padding: $vru 12px;
      font-size:14px;
    }

  }

}